/* Debug Do not forget to delete*/


.ms-useful-links .col-xs-12 {
    height: 200px;
    border: 1px solid white; 
}
.ms-copyright {
    height: 100px;
    line-height: 100px;
}

/* /Debug */



/* General */

body {
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 50px;
    font-weight: 700;
}

h2,
h3 {
    font-weight: 700;
}


/* Solution One Star*/
.ms-line {
    position: relative;
    margin-bottom: 20px;
    text-align: center;

}

.ms-line::before {
    width: 13%;
    position: absolute;
    content: "";
    border-top: 3px solid white;
    top: 50%;
    left: 35%;
}

.ms-line::after {
    width: 13%;
    position: absolute;
    content: "";
    border-top: 3px solid white;
    top: 50%;
    right: 35%;
} 

#portfolio .ms-line::before,
#portfolio .ms-line::after,
#contact-me .ms-line::before,
#contact-me .ms-line::after{
    border-top: 3px solid #2c3f4f; 
}

/* Solution Two Star */
/* .ms-line-container {
    line-height: 35px;
}
.ms-gliphicon-star {
    vertical-align: middle;
}

.ms-line-two {
    display: inline-block;
    border-top: 3px solid white;
    width: 10%;
    vertical-align: middle;
} */


#header-jambotron,
#about {
    background-color: #1abc9b;
}

.ms-glyphicon-star {
    font-size: 30px;
}
.ms-text-white {
    color:white;
}
.ms-copyright {
    background-color: #2c3f4f;
}


/* Header */
/* NAV */
.ms-navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding: 10px 0;
    background-color: #2c3f4f;
    font-weight: 700;
}

.ms-navbar .navbar-brand,
.ms-navbar .navbar-nav>li>a{
    text-transform: uppercase;
    color: white;
    transition: all .2s;

}

.ms-navbar .navbar-toggle {
    border-color: rgb(136,136,136);
}
.ms-navbar .navbar-toggle .icon-bar{
    background-color: rgb(136,136,136);
}


.ms-navbar .navbar-toggle:focus,
.ms-navbar .navbar-toggle:hover {
    background-color: #2c3f4f;
} 
.ms-navbar .navbar-nav>li>a:focus, 
.ms-navbar .navbar-nav>li>a:hover {
    color: #1abc9b;
    background-color: transparent;
}

/* Jambotron */
#header-jambotron {
    padding-top: 125px;
    padding-bottom: 40px;
}


#header-jambotron img{
    height: 250px;
}



/* Main */
#portfolio,
#contact-me {
    color: #2c3f4f;  
}

.ms-portfolio-item {
    margin: 15px 0;
    border-radius: 10px;
}

.ms-portfolio-item img{ 
    width: 100%;
    border-radius: 10px;
}

#portfolio,
#about,
#contact-me {
    padding: 30px 0;
}

.ms-btn-container{
    text-align: center;
}

.ms-btn-transparent {
    margin: 40px 0;
    border: 1px solid white;
    background-color: transparent;
    transition: all 0.2s;
}

.ms-btn-transparent:hover{
    background-color: white;
    color: #2c3f4f;

}

/* Contact me */

.ms-btn-green{
    background-color: #1abc9b;
    color: white;
    transition: all 0.2s;
}
.ms-btn-green:hover{
    background-color: #159a80;
    border-color: #148f77;
}
.form-control::placeholder {
    color:#2c3f4f;
}

 /* .form-control{
    border: 0;
} */







/* Footer */

footer
.ms-useful-links{
    background-color: #3b546e;  
}
.ms-copyright p{

    vertical-align: middle;
}




