/* Debug Do not forget to delete*/
nav {
    height: 100px; 
}

nav .col-xs-6 {
    height:100px;
    border: 1px solid white;
}
#header-jambotron .col-xs-12 {
    height: 500px;
    border: 1px solid white; 
}

#header-jambotron {
    height: 500px;
}

#portfolio .col-xs-12,
#about .col-xs-12 {
    height: 250px;
    border: 1px solid black; 
}

#contact-me .col-xs-10{
    height: 400px;
    border: 1px solid black; 
}




/* /Debug */



/* General */
body {
    text-align: center;
}

/* Header */
nav {
    background-color: #2c3f4f;
}

#header-jambotron,
#about {
    background-color: #1abc9b;
}

